body {
  background-color: white;
  color: rgb(68, 68, 68);
  font-family: 'Play', sans-serif;
}

h1 {
  padding-left: 20px;
  font-family: 'Play', sans-serif;
}

.flex-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin-left: 400px;
}

hr {
  width: 100%;
  text-align: left;
}

.flex-container div {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}
.specto {
  padding: 10%;
}
#spectoimg {
  max-width: 300px;
  max-height: 300px;
}

nav {
	float: right;
	margin-top: 0px;
	width: 570px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	text-align: left;
}

.audio-div-short {
  padding-left: 10%;
}
.audio-div-short header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

#custom-button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #2d52a1;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Play', sans-serif;
}

#custom-button:hover {
  background-color: #3287d6;
}

#custom-text {
  margin-left: 10px;
  font-family: 'Play', sans-serif;
}

#real-file {
  display: none
}

#button-1 {
  color: white;
  background-color: #2d52a1;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#button-1:hover {
  background-color: #3287d6;
}

#result-text {
  color: white;
  background-color: #c0c0c0;
  padding: 10px;
  width: 33%;
  border: 1px solid black;
  border-radius: 5px;
}

.drag-area {
  background-color: #dddddd;
  border: 2px dashed rgb(17, 16, 16);
  height: 400px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(68, 68, 68);
}

.drag-area.active {
  border: 2px solid rgb(68, 68, 68);
}

.drag-area .icon {
  font-size: 100px;
  color: rgb(68, 68, 68);
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: rgb(68, 68, 68);
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: rgb(68, 68, 68);
  margin: 10px 0 15px 0;
}


.drag-area button:hover {
  background-color: #000000;
}
